*.pyc
*.pyo
*.swp
*.swo
*.so
*.pdf
*.pickle
*.tmp
.bzr
build
dist
debian/python-electrode
debian/python3-electrode
debian/python-electrode-doc
debian/python-module-stampdir*
debian/files
*.egg-info
electrode/cexpressions.c
doc/_build/*
__pycache__
debian/tmp
*.gds
deb_dist
debian/*.debhelper
debian/*.log
debian/*.substvars
