*.pyc
*.pyo
*.swp
*.swo
*.so
*.pdf
*.pickle
*.tmp
/.bzr
/build
/dist
/deb_dist
/debian/*.debhelper
/debian/*.log
/debian/*.substvars
/debian/python-electrode
/debian/python3-electrode
/debian/python-electrode-doc
/debian/python-module-stampdir*
/debian/files
/debian/tmp
*.egg-info
/electrode/cexpressions.c
/doc/_build/*
/doc/_static/*
__pycache__
*.gds
/examples/.ipynb_checkpoints
